# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Logs
logs
*.log
*.log.*

# dotenv
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Uploads and data
uploads/
public/uploads/
*.sqlite

# Editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# React (frontend)
frontend/build/
frontend/node_modules/

# Backend (optional subfolder)
backend/node_modules/
backend/uploads/
backend/logs/
backend/temp/

# Test coverage
coverage/

# Misc
*.tgz
